*{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

ul{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

li a{
    color: white;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: blue;
}

.menuActivo{
    background-color: brown;
}

div{
    margin: 5px;
    width: 50% auto;
    background-color: yellow;
    color: red;
}

div h1{
    color: greenyellow;
    text-align: center;
    font-size: 40px;
}

div section{
    margin: 10px 20px;
}

section h2{
    color: aquamarine;
    font-size: 35px;
}

section h3{
    color: aquamarine;
    font-size: 35px;
}

section p{
    font-size: 20px;
}