ul{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

li a{
    color: white;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: blue;
    color: black;
}

.menuActivo{
    background-color: brown;
}
